div{
    background-color: rgb(255, 255, 255);
    width: 1000px;
    border-radius: 50px;
    margin: auto;
    box-shadow: 0 0 40px 3px;
    vertical-align: middle;
}
body{
    background-color: rgb(238, 255, 0);
}
#title{
    font-size: 50px;
    font-family: 'Rubik Mono One', sans-serif;
    text-align: center;
}
img{
    width: 500px;
}
h1{
    font-family: 'Russo One', sans-serif;
}
h2{
    font-family: 'Rubik Mono One', sans-serif;
}